<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Resources</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/resources.css">

<%- include("navbar") -%>

<div class="row">
    <div class="col-3 left">

    </div>

    <div class="col middle">
        <h1>Web Development</h1>
        <img class="image" src="images/web-dev.png" alt="">

        <h2 >Top Free Sites</h2>

        <ul class="sites">
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
        </ul>

        <h2>Top Paid Sites</h2>

        <ul class="sites">
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
        </ul>

        <hr>


        <h1>App Development</h1>
        <img class="image" src="images/app-dev.jpg" alt="">

        <h2 >Top Free Sites</h2>

        <ul class="sites">
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
        </ul>

        <h2>Top Paid Sites</h2>

        <ul class="sites">
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
        </ul>

        <hr>

        <h1>AI / ML</h1>
        <img class="image" src="images/machine%20learning.png" alt="">

        <h2 >Top Free Sites</h2>

        <ul class="sites">
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
        </ul>

        <h2>Top Paid Sites</h2>

        <ul class="sites">
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
        </ul>

        <hr>


        <h1>Block Chain</h1>
        <img class="image" src="images/blockchain.jpg" alt="">

        <h2 >Top Free Sites</h2>

        <ul class="sites">
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
        </ul>

        <h2>Top Paid Sites</h2>

        <ul class="sites">
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
        </ul>

        <hr>


        <h1>Mathematics</h1>
        <img class="image" src="images/math.jpg" alt="">

        <h2 >Top Free Sites</h2>

        <ul class="sites">
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
        </ul>

        <h2>Top Paid Sites</h2>

        <ul class="sites">
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
            <li><a href="">Lorem ipsum hgb ihsbs</a></li>
        </ul>

        <hr>

    </div>
    <div class="col-3 right">
    </div>
</div>
</body>

</html>
