<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TinDog</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- My CSS -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- LineIcons -->
  <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu&display=swap" rel="stylesheet">

<%- include("navbar") -%>
  <section id="title">

    <div id="backgroundimage">
      <div class="container slogan-holder">
        <h1 class="slogan">A place where you Learn. Together.</h1>

        <div class="signup-buttons">
          <button type="button" class="btn btn-secondary btn-lg"><a style="color:white" class="nav-link active" href="/login">Sign In</a></button>
          <button type="button" class="btn btn-secondary btn-lg"><a style="color:white" class="nav-link active" href="/signup">Sign Up</a></button>
        </div>
      </div>
    </div>



      <!-- Title -->
  </section>





  <!-- Footer -->

  <footer id="footer">
    <i class="lni lni-twitter-original footer-icons" ></i>
    <i class="lni lni-instagram-original footer-icons"></i>
    <i class="lni lni-facebook-original footer-icons"></i>
    <p class="footer-txt">© Copyright 2020 TinDog</p>

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>
